.login{
    color:#0094FF; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}


.form-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px; 
}

.sign-in-button{
    background-color:#0094FF ;
    color:#FFFFFF; 
    border-radius: 15px;
    padding: 10px 40px; 
    border-color: #FFFFFF;
}

.checkbox-content{
    width: 30px;
    height: 20px; 
}