.login{
    color:#0094FF; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}


.form-content{
    display: flex; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto; 
}

.form-input{
    display: flex;
    margin: auto;
}

.sign-in-button{
    background-color:#0094FF ;
    color:#FFFFFF; 
    border-radius: 15px;
    padding: 10px 40px; 
    border-color: #FFFFFF;
    display: flex;
    margin: 10px auto; 
}

.checkbox-content{
    width: 30px;
    height: 20px; 
}

.no-account {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.reset-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}